form {
  background: rgba(153, 210, 229, 0.425);
  border-radius: 15px;
  padding: 10px;
  margin: 1%;
  size: 50%;
}
.form-control {
  background: rgba(153, 210, 229, 0.616);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
label {
  padding: 20px;
}
.submitBtn {
  margin-bottom: 10px;
  margin-left: 20px;
}
.form-control {
  margin-left: 20px;
  width: 95%;
}
